<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

  <variable name="FileName" value ="Logs\NLog_${date:format=dd_MM_yyyy_HH}.log"/>

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File" name="CustomLog" fileName="${FileName}"/>
  </targets>

  <rules>
    <!--Skip non-critical Microsoft logs and so log only own logs (BlackHole) -->
    <logger name="Microsoft.*" maxlevel="Error" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Error" final="true" />

    <logger name="*" minlevel="Trace" writeTo="CustomLog" />
  </rules>
</nlog>